
body {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display:flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(243, 243, 243, 0.8),rgba(155, 181, 236, 0.8));
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.container {
    display:grid;
    grid-template-columns: repeat(2,50%);
    padding:20px;
    gap:10px;
    width: 1000px;
}

.box-info {
    color:#000000; /* color de las palabras de la informacion*/
    display:flex;
    flex-direction: column;
    gap:50px;
}

.box-info > h1 {
    text-align: left;
    letter-spacing: 5px;
}

.data {
    display: flex;
    flex-direction: column;
    gap:25px
}

.data > p {
    font-size: 1rem;
}

.data > p > i {
    color:rgb(147, 173, 245);
    margin-right: 10px;
    font-size:25px;
}

.links {
    display:flex;
    gap:15px;
}

.links > a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    background: rgb(150, 166, 255);
    text-align: center;
    transition: .1s;
}

.links > a > i {
    color:#000000;
    line-height: 40px;
    font-size: 20px;
}

form {
    display:flex;
    flex-direction: column;
    text-align: center;
    gap:15px;
}

.input-box {
    position:relative;
}

.input-box > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    outline:none;
    background: rgba(136, 149, 224, 0.1);/*color de los cantainers nombre,correo y asunto*/
    border:3px solid transparent;
    letter-spacing: 1px;
    transition:.3s;
    color:#000000;/*color del texto*/
    
}

.input-box > input::placeholder,
.input-box > textarea::placeholder {
    color:#4d4a4a; 
    
}

.input-box > input:focus::placeholder,
.input-box > textarea:focus::placeholder {
    color:transparent;
}

.input-box > input:focus,
.input-box > textarea:focus {
    border-bottom:3px solid rgb(155, 195, 255);
    animation: shake .2s;
}

.input-box > textarea {
    width: 100%;
    height: 130px;
    padding: 10px;
    background: rgba(137, 149, 202, 0.1);/*color del container mensaje*/
    border:3px solid transparent;
    letter-spacing: 1px;
    outline: none;
    transition:.3s;
    color:#000000; 
    letter-spacing: 1.5px;
}


.input-box > i {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
    right: 10px;
    color:rgba(72, 75, 243, 0.3);
    transition: .3s;
}

.input-box > input:focus ~ i {
    color:rgb(133, 200, 245);
}

form > button {
    width: 100%;
    padding: 10px;
    outline: none;
    background: rgb(124, 169, 221);
    color:#000000; /*color de las letras enviar*/
    border:none;
    transition: .1s;
    cursor: pointer;
    font-size: 1rem;
}

form > button:hover,
.links > a:hover {
    background: rgb(88, 103, 192); 
}

@keyframes shake { 
    0%, 100% {transform: translateX(0);} 
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} 
    20%, 40%, 60%, 80% {transform: translateX(10px);} 
 }


@media screen and (max-width:600px) {
    .container {
        width: 95%;
        display: flex;
        flex-direction: column;
        gap:20px;
    }

    .box-info {
        gap:15px;
    }

    .box-info > h1 {
        font-size: 1.5rem;
    }
}