@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
    --primary-color: #000000;
    --background-color: #000000;
    --dark-color: #000000;
}

body {
    margin: 0;
    background-color: #fffcfc; /* Color del pie de página */
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-family: 'Goldman', sans-serif; /* Fuente aplicada a todo el cuerpo */
    text-align: center;
}

h1 {
    color: #000000;
    font-size: 20px;
    margin: 0;
    text-align: center; /* Alineación centrada */
}

header {
    background-color: #ffffff; /* Color del menú */
    color: rgb(0, 0, 0);
    padding: 23px;
  
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000000;
}

.icon-container {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
}

.fa-user, .fa-shopping-cart {
    font-size: 24px;
    color: #000000;
    margin-left: 10px;
    transition: color 0.3s; /* Transición suave para color */
}

.fa-user:hover, .fa-shopping-cart:hover {
    color: #7f9fcfe1; /* Color al pasar el cursor por encima */
}

.navbar-nav {
    display: flex;
    flex-direction: row;
}

.navbar-nav .nav-item {
    margin-right: 30px;
}

.navbar-nav .nav-link {
    color: #000000; /* Color del menú */
    padding: 10px;
    text-decoration: none;
    text-align: center;
}

.navbar-nav .nav-link:hover {
    color: #5b6acbe1;
}

.footer {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    text-align: left;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alineación a la izquierda */
}

.footer-title {
    margin-bottom: 10px;
}

.footer-subtitle {
    padding: 5px;
    font-size: 14px;
    margin-top: 50px;
}

.social-icons {
    display: flex;
    margin-top: 20px;
}

.social-icon {
    margin-right: 10px;
}

.social-icon img {
    width: 50px;
    height: 30px; /* Asegúrate de que el alto sea adecuado */
}

.slider-box {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.slider-box ul {
    display: flex;
    padding: 0;
    width: 300%;
    animation: slide 20s infinite alternate ease-in-out;
    list-style: none; /* Elimina los puntos de lista */
}

.slider-box li {
    width: 20%;
}

.slider-box img {
    width: 100%; /* Ajusta el ancho al 100% */
    height: auto;
}

@keyframes slide {
    0% { margin-left: 0%; }
    25% { margin-left: -100%; }
    50% { margin-left: -200%; }
    75% { margin-left: -100%; }
    100% { margin-left: 0%; }
}

@media(max-width: 991px) {
    /* Añade estilos específicos para pantallas más pequeñas si es necesario */
}

#demo .carousel-inner img {
    height: 400px;
    width: 1200px;
    object-fit: cover; /* Para que la imagen se ajuste sin deformarse */
}

#searchCollapse {
    transition-duration: 0s; /* Cambia 0.1s al tiempo que prefieras */
}

.photo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px; /* Distancia entre cada contenedor */
}

.photo {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    z-index: 2;
}

.photo p{
    transition: transform 0.2s ease-in-out;
}

.photo:hover p, .photo:hover img{
    transform: scale(1.18);
    font-size: 17px;
    font-weight: bold;
}

.photo img {
    width: 100%;
    height: 50%;
    display: block;
    margin: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

footer {
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.separador{
    background-color: #A8D0FF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.footer-section {
    padding: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding: 5px 0;
}
