body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to right, #ffffff, #d0d8ff);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 360px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.5s;
}

.container:hover {
    transform: scale(1.05);
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: 600;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 10px;
    transition: border 0.3s, box-shadow 0.3s, transform 0.3s;
    font-size: 16px;
}

input:focus, textarea:focus {
    border: 2px solid #ffffff50;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    outline: none;
    transform: translateY(-2px);
}

button {
    width: 100%;
    padding: 12px;
    background-color: #686868;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: #6A82FB;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(106, 130, 251, 0.3);
}

.footer-text {
    margin-top: 15px;
    color: #777;
    font-size: 14px;
}